// Small devices
@mixin media-min-small {
  @media (min-width: #{$media-min-small}) {
    @content;
  }
}
// Medium devices
@mixin media-max-small {
  @media (max-width: #{$media-max-small}) {
    @content;
  }
}
// Large devices
@mixin media-min-medium {
  @media (min-width: #{$media-min-medium}) {
    @content;
  }
}

@mixin media-max-medium {
  @media (max-width: #{$media-max-medium}) {
    @content;
  }
}
// Large devices
@mixin media-min-large {
  @media (min-width: #{$media-min-large}) {
    @content;
  }
}

/*
   * Statically sized elements
   */

@mixin title1 {
  font-size: $font-title1-size;
  line-height: $font-title1-line-height;
}

@mixin title2 {
  font-size: $font-title2-size;
  line-height: $font-title2-line-height;
}

@mixin title3 {
  font-size: $font-title3-size;
  line-height: $font-title3-line-height;
}

@mixin large {
  font-size: $font-large-size;
  line-height: $font-large-line-height;
}

@mixin base {
  font-size: inherit;
  line-height: inherit;
}

@mixin small {
  font-size: $font-small-size;
  line-height: $font-small-line-height;
}

@mixin micro {
  font-size: $font-micro-size;
  line-height: $font-micro-line-height;
  text-transform: uppercase;
}

/*
   * Responsively sized elements
   */

@mixin paragraph {
  font-size: $font-base-size;
  line-height: $font-base-line-height;
  margin: 0.5rem 0 1rem 0;

  @include media-min-small {
    font-size: $font-base-size;
    line-height: $font-base-line-height;
  }

  @include media-min-medium {
    font-size: $font-large-size;
    line-height: $font-large-line-height;
  }
}

@mixin blockQuote {
  background: $color-very-light-gray;
}

@mixin responsiveTitle1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: $font-title2-line-height;
  margin: 1rem 0 2rem;

  @include media-min-small {
    font-size: 2rem;
    line-height: $font-title2-line-height;
  }

  @include media-min-medium {
    font-size: 3rem;
    line-height: $font-title1-line-height;
  }
}

@mixin responsiveTitle2 {
  font-weight: 600;
  font-size: $font-large-size;
  line-height: $font-large-line-height;
  margin: 1.5rem 0 0.5rem;

  @include media-min-small {
    font-size: $font-title3-size;
    line-height: $font-title3-line-height;
  }
  @include media-min-medium {
    font-size: $font-title2-size;
    line-height: $font-title2-line-height;
  }
}

@mixin responsiveTitle3 {
  font-weight: 600;
  font-size: $font-large-size;
  line-height: $font-large-line-height;
  margin: 1rem 0 0.5rem;

  @include media-min-small {
    font-size: $font-large-size;
    line-height: $font-large-line-height;
  }

  @include media-min-medium {
    font-size: $font-title3-size;
    line-height: $font-title3-line-height;
  }
}

@mixin responsiveTitle4 {
  font-weight: 600;
  font-size: $font-base-size;
  line-height: $font-base-line-height;
  margin: 1rem 0 0.5rem;

  @include media-min-small {
    font-size: $font-base-size;
    line-height: $font-base-line-height;
  }

  @include media-min-medium {
    font-size: $font-large-size;
    line-height: $font-large-line-height;
  }
}

@mixin mainButton {
  border-radius: 4px;
  display: block;
  padding: 10px 35px;
  background-color: #3f3d56d7;
  border: none;
  font-size: 1.5em;
  width: auto;
  text-align: left;
  font-family: "Nunito", sans-serif;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: #3f3d56;
    color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
}

@mixin even() {
  &:nth-child(even) {
    @content;
  }
}
