@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

$font-family-sans: "Nunito", BlinkMacSystemFont, sans-serif;

$color-black: #000;
$color-orange: #f4c9b0;
$color-light-orange: #faeae0;
$color-dark-blue: #3f3d56;
$color-dark-gray: #32373e;
$color-gray: #797882;
$color-light-gray: #b4bcc7;
$color-very-light-gray: #e7ebed;
$color-white: #fff;
$color-accent: #000;

/* Typography */

$font-micro-size: calc(10 / 16 * 16); /* 10px */
$font-micro-line-height: calc(12 / 10); /* 12px */
$font-small-size: calc(14 / 16 * 16); /* 14px */
$font-small-line-height: calc(21 / 14); /* 21px */
$font-base-size: 1em; /* 16px */
$font-base-line-height: calc(24 / 16); /* 24px */
$font-large-size: calc(18 / 16 * 16); /* 18px */
$font-large-line-height: calc(27 / 18); /* 27px */
$font-title3-size: calc(21 / 16 * 16); /* 21px */
$font-title3-line-height: calc(30 / 21); /* 30px */
$font-title2-size: calc(24 / 16 * 16); /* 24px */
$font-title2-line-height: calc(33 / 24); /* 33px */
$font-title1-size: calc(49 / 16 * 16); /* 49px */
$font-title1-line-height: calc(57 / 49); /* 57px */

// Media queries

$media-min-small: 450px;
$media-max-small: 449px;
$media-min-medium: 675px;
$media-max-medium: 674px;
$media-min-large: 900px;
