@import "./_variables.scss";
@import "./_mixins.scss";

@import "./components/header.scss";
@import "./components/layout.scss";
@import "./components/container.scss";
@import "./components/article.scss";
@import "./components/preview.scss";
@import "./components/preview-list.scss";
@import "./components/preview-grid.scss";
@import "./components/author-list.scss";
@import "./components/form.scss";
@import "./components/intro.scss";
@import "./pages/contact.scss";
@import "./pages/about.scss";
@import "./pages/archive.scss";

html {
  font-family: $font-family-sans;
  font-size: $font-base-size;
  line-height: $font-base-line-height;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $color-white;
  color: $color-dark-blue;
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
