@import "./custom-properties.css";
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

.btn-primary {
  border-radius: 4px !important;
  display: block;
  padding: 10px 35px !important;
  background: #3f3d56d7 !important;
  border: none;
  font-size: 1.2em;
  font-family: "Nunito", sans-serif !important;
  color: white !important;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #3f3d56 !important;
  color: white !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
