@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
  --font-family: 'Nunito', sans-serif;

  --body-bg: rgb(255, 255, 255);
  --text-color: #3f3d56;

  --brand-primary: #f09d5b;
  --brand-secondary: #f4c8ae;

  --component-bg: #fff9f6;
  --component-border-color: #000000;
  --component-box-shadow: 0 1px 3px color(var(--black) a(50%));

  --state-danger-color: #f8495f;

  --input-color: var(--text-color);
  --input-border-color: var(--component-border-color);
  --input-border-size: 2px;
  --input-line-height: 2em;
}
