.text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
}

.imagebg {
  display: none;
}

@media (max-width: 768px) {
  .text-container {
    grid-template-columns: 1fr;
  }

  .imagebg {
    display: block;
    height: 400px;
    background: url("../assets/undraw_code_typing_7jnv.svg");
    background-size: contain;
    background-position: 100% 70%;
    background-repeat: no-repeat;
  }
}

/* .about-title {
  font-size: 3rem;
} */

/* @media (max-width: 768px) {
  .text-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 100px;
  } */
/* } */

/* @media (max-width: 550px) {
  .about-title {
    font-size: 2rem;
    margin-bottom: 50px;
  }
} */
