.text-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 100px;
}

/* .about-title {
  font-size: 3rem;
} */

/* @media (max-width: 768px) {
  .text-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 100px;
  } */
/* } */

/* @media (max-width: 550px) {
  .about-title {
    font-size: 2rem;
    margin-bottom: 50px;
  }
} */
