@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.intro {
  padding: 0;
  background: linear-gradient(#f3c5aa, #fff);
  margin-top: -95.19px;
}

.intro-button {
  border-radius: 4px;
  display: block;
  margin: 20px 0 0 0;
  padding: 10px 35px;
  background-color: #3f3d56d7;
  border: none;
  font-size: 1.5em;
  width: 100px;
  text-align: left;
  font-family: "Nunito", sans-serif;
  color: white;
  text-decoration: none;
}

.intro-button:hover {
  background-color: #3f3d56;
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.text-container {
  padding-top: 250px;
  padding-left: 100px;
}

.intro-title {
  font-size: 4rem;
  margin-bottom: 0;
}

.intro-p {
  max-width: 500px;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0;
}

.container {
  background: url("../assets/undraw_Mobile_application_mr4r.svg");
  background-size: 600px;
  background-position: 100% 70%;
  background-repeat: no-repeat;
  height: 700px;
  box-sizing: border-box;
  max-width: 1300px;
  padding: 2em;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .text-container {
    padding-left: 10%;
  }

  .container {
    background-size: 500px;
  }
}

@media (max-width: 950px) {
  .text-container {
    padding-top: 150px;
    padding-left: 20%;
  }

  .container {
    background: none;
    background-position: -850px 30%;
    height: 600px;
  }
}

@media (max-width: 550px) {
  .intro-title {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 70px;
  }

  .text-container {
    padding-top: 350px;
    padding-left: 0;
  }

  .container {
    background: url("../assets/undraw_Mobile_application_mr4r.svg");
    background-size: 350px;
    background-position: 100% 25%;
    background-repeat: no-repeat;
    height: 800px;
  }
}
