.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;

  margin: 2em 0 10em;
  padding: 0;
}

.headline {
  font-size: 1.8rem;
  line-height: var(--font-micro-line-height);
  font-weight: 600;
  margin: 2.5rem 0;
  text-transform: uppercase;
}
